body {
  background-color: black;
  background-image: url("./resta.jpg");
  margin: 0;
}

.content {
  background-color: rgb(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  margin: 0px 0px;
}

.head {
  width: 100%;
  height: 100px;
  border-bottom: 2px solid tomato;
  display: flex;
  align-items: center;
}

.title {
  color: white;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  margin-left: 15%;
}

.nav-links {
  margin-left: auto;
  padding-right: 10%;
  font-size: 25px;
  font-family: sans-serif;
}

.nav-links a {
  color: whitesmoke;
  text-decoration: none;
}

.menu-class,
.home-class,
.contact-class {
  padding-right: 40px;
}

/** Foote styles **/

.foot {
  position: fixed;
  height: 80px;
  background-color: cornflowerblue;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  display: flex;
}

.end-t {
  font-size: 25px;
  margin-left: 10%;
  margin-top: 13px;
}

.foot-links {
  margin-left: auto;
  padding-right: 10%;
  font-size: 25px;
  font-family: sans-serif;
  margin-top: 13px;
}

.foot-links a {
  text-decoration: none;
  font-size: 20px;
}

.email-class,
.fb-class,
.tw-class {
  padding-right: 40px;
}

/** Mid content **/

.mid-content {
  color: white;
  margin-left: 20%;
  margin-top: 5%;
  margin-right: 20%;
}

.menu-box {
  border: 2px solid cornflowerblue;
  height: 450px;
  border-radius: 9px;
}

.menu-box-title {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-family: monospace;
  font-weight: 600;
  padding-top: 20px;
}

.menu-item-box {
  height: max-content;
  display: grid;
  grid-template-columns: repeat(3, 290px);

  padding: 20px;
  margin-left: 120px;
}

.breakfast,
.lunch,
.dinner {
  color: aquamarine;
}

.menu-item-box ul li {
  list-style: none;
  font-size: 20px;
  color: tomato;
}

.home-title,
.dummy {
  font-size: 25px;
  font-family: "Courier New", Courier, monospace;
}

.inp-sec {
  display: grid;
  padding: 60px;
}

.name-class,
.mail-class,
.msg-class {
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid chocolate;
  margin-bottom: 26px;
  padding: 10px;
}

.submit {
  width: 20%;
  font-size: 30px;
  border: 1px solid rgb(120, 221, 120);
  border-radius: 4px;
  padding: 5px;
  color: black;
  background-color: rgb(120, 221, 120);
}
